body {
    margin: 0;
    padding: 0;
}

#body {
    max-width: 1200px;
    margin: auto;
}

#header{
    font-size:2em;
}
#header p{margin:0;}

#header, #footer {
    background:#0075ca;
    color:#ffaf62;
    padding:0px 20px;
    overflow:hidden;
}

.hugeText{font-size:3em;}
.red{color:red;}